<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Welcome to Image Upload</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="container-fluid">
  <div class="form-group">
    <label><b>File input</b></label>
    <img [src]="url" height="200"> <br />
    <input type="file" class="form-control-file" (change)="selectImage($event)" accept=".png, .jpg, .jpeg" multiple>
  </div> 
  <button class="btn btn-primary" (click)=onUpload()>Upload</button>
  <div *ngFor="let image of images;let i=index">
    <img [src]="image.url" style="height: 250px; width:250px;padding:0px;">
    <i style="font-size:24px" class="fa" (click)="images.splice(index, 1)" style="cursor:pointer">&#xf014;</i>
  </div>
</div>

<img [src]="url" height="200">
